{% extends 'base.html.twig' %}

{% block title %}Formulaire
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <h2 >Axe ...</h2>
    {{ form_start(form) }}
      <table class="table table-bordered">
          <thead class="thead-light">
              <tr>
                  <th>Items</th>
                  <th>Questionnements</th>
                  <th>2</th>
                  <th>1</th>
                  <th>0</th>
              </tr>
          </thead>
          <tbody>
              {% for field in form %}
                  {% if field.vars.name != 'submit' %}
                      <tr>
                          <td>{{ field.vars.label }}</td>
                          <td>{{ form_widget(field) }}</td>
                      </tr>
                  {% endif %}
              {% endfor %}
          </tbody>
      </table>
      {{ form_widget(form.submit) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
