{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
  <div class="container mt-5">
    <h2>{{axis.name}}</h2>

    {{ form_start(form) }}
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Items</th>
          <th>Questionnements</th>
          <th>Score</th>
					<th>Commentaire</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
					{% for delta, question in category.questions %}
            <tr>
              {% if delta == 0 %}
                <td rowspan="{{ category.questions|length }}">{{ category.name }}</td>
              {% endif %}
              <td>{{ question.text }}</td>
              <td>{{ form_widget(form['question_' ~ question.id]) }}</td>
							<td>{{ form_widget(form['comment_' ~ question.id]) }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

  </div>
{% endblock %}
