{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container form">
		<h1 class="mb-6">Je me connecte</h1>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3 mb-4">
					Vous êtes connecté en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-12 mb-4">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				</div>


				<div class="col-12 mb-4">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>
				</div>

				<div class="col-12 mb-2">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>

				<div class="col-12">
					<button class="btn btn-lg btn-primary" type="submit">Valider</button>
				</div>

			</div>
		</form>
	</div>
{% endblock %}
