{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container form">
		<h1 class="mb-6">Je me connecte</h1>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-4">
					Vous êtes connecté en tant que
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-12 mb-4">
					<label for="email">Email</label>
					<input type="email" value="{{ last_username }}" name="_username" id="email" class="form-control" autocomplete="email" required autofocus>
				</div>
				<div class="col-12 mb-4">
					<label for="password">Password</label>
					<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="col-12">
					<button class="btn btn-lg btn-primary" type="submit">
						Sign in
					</button>
				</div>
			</form>
		</div>
	{% endblock %}
